{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      {% comment %} content="width=device-width, initial-scale=1.0" {% endcomment %}
    />
    <link href="{% static 'css/style.css' %}" rel='stylesheet' />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>CRM</title>
  </head>
  <body>
    <div class="max-w-7xl mx-auto" >
      {% include "navbar.html" %} 
      {% block content %} 
      {% endblock content %}
    </div>
    {% include 'script.html' %}
  </body>
</html>
